# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cookies
.obsidian/cache/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Dependencies
node_modules/
dist/
build/
